<html>
    <body>
        <p>
            Auth
            <form method="post">
                <input type="password" name="password" >
                <input type="submit">
            </form>
        </p>
    </body>
</html>